{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>full_name</th>
        <th>firma</th>
        <th>e_mail</th>
        <th>description</th>
        <th>date</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.full_name }}</td>
          <td>{{ user.firma }}</td>
          <td>{{ user.e_mail }}</td>
          <td>{{ user.description }}</td>
          <td>{{ user.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}
